<h2>All articles</h2>

<%= link_to "New Article", new_article_path %>

<table>
    <thead>
        <tr>
            <th>
                title
            </th>
            <th>
                text
            </th>
            <th>
                actions
            </th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td>
                    <%= article.title %>
                </td>
                <td>
                    <%= article.text %>
                </td>
                <td>
                    <%= link_to "view", article_path(article) %>
                    <%= link_to "edit", edit_article_path(article) %>
                    <%= link_to "delete", article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
